/* GENERAL */
body {
  height: 100vh;
  background-image: linear-gradient(#009688 15%, #dcdbd1 15% 100%);
}

img {
  width: 100%;
}

.app-container {
  display: flex;
  height: 90vh;
  margin-top: 50px;
  box-shadow: 5px 5px 5px 5px #b1b1b1;
  position: relative;
}

/* HEADER */
.left-header,
.right-header {
  background: #eaeaea;
  height: 80px;
}

.left-header {
  width: 35%;
  border-right: 2px solid #b1b1b1;
}

.right-header {
  width: 65%;
}

/* SIDEBAR */

#sidebar {
  width: 35%;
  padding-top: 80px;
  border-right: 2px solid #b1b1b1;
  background: #eaeaea;
}

.image-container {
  border-radius: 50%;
  overflow: hidden;

  width: 50px;
  aspect-ratio: 1;
}

.icons > i {
  color: #bbb4b1;
}

.personal-account,
.chat-keyboard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  width: 100%;
}

.left-header,
.right-header,
.personal-account,
.desktop-notifications {
  display: flex;
  align-items: center;
  justify-content: start;
}

.desktop-notifications {
  background-color: #8edafc;
}

.bg-bell {
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2fbff;
  color: #8edafc;
}

.user-chats {
  background-color: #fbfbfb;
}

.single-chat {
  display: flex;
  align-items: center;
}

/* SCREEN CHAT */

#screen-chat {
  background-image: url("../img/mine.jpg");
  padding-top: 80px;
  width: 65%;
}

/* MAIN SCREEN CHAT */

.send-message,
.recive-message {
  position: relative;
  border-radius: 10px 20px;
  width: 25%;
}

.send-message {
  background-color: #d5f9ba;
}

.recive-message {
  background-color: #ffffff;
}

.absolute-time-message {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.75rem;
}

/* FOOTER SCREEN CHAT */
.footer-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 65%;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #b1b1b1;
}
